/***** Homepage Rotator 
*****/

.view-home-page-feature-rotator {
  background:#D6DFE4;
  width: 957px;
  margin: 0;
}

#home-rotator {
  background: none;
   height: 395px;
	padding: 0px;
	/*-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.5);
	box-shadow: 0 2px 8px rgba(0,0,0,.5);*/
}

.home-rotator-text-block {
  background: none;
  width: 390px;
  float: left;
  height: 0px;
  padding: 0px;
  margin-right: 0px;
  border: none /*1px solid #900*/;
  visibility: visible;
}

.home-rotator-photo {
  width: 617px;
  height: 395px;
  float: right;
  border:none;

}

.home-top-intro h2 {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.2em;
}

.home-top-intro h2 a {
  display: block;
  margin: 35px 0 10px -15px;
}

.home-top-intro h2 a:link,.home-top-intro h2 a:visited {
	color: #FFF;
	text-decoration:none;

}

.home-top-intro {
  font-family: Georgia, serif;
  color: #6bccf1;
  font-size: 1.25em;
  font-style: italic;
  margin: 0 50px;
  text-align: center;
  line-height: 1.3em;
  height: 150px;
  }
  
#home-top-read-more {
  width: 112px;
  text-align: center;
  margin: 15px 0 15px 140px;
}
  
#home-top-read-more a {
	background: url(sprite.png) repeat-x -161px -41px;
	display: block;
	width: 116px;
	height: 38px;
	text-indent: -9000px;
}

#home-top-read-more a:hover {
	background: url(sprite.png) repeat-x -161px -89px;
}

#home-top-numbers {
  font-family: Arial, sans-serif;
  font-size: 1.167em;
  text-align: center;
  margin: 0 auto;
  z-index:10;
}

#home-top-numbers ul {
	margin: 0 auto;
	text-align: center;
	float:right;
	padding: 0 15px 0 325px;
	display: inline-block;
	position:relative;
	top: -45px;

}
#home-top-numbers a.activeSlide {
	background: url(sprite.png) repeat-x -37px -90px;
}

#home-top-numbers a.activeSlide:hover {
	background: url(sprite.png) repeat-x -77px -90px;
}


#home-top-numbers li {
  list-style-type: none;
  text-align: center;
  display: inline;
  margin:0 auto;
}

#home-top-numbers li a {
	display: inline;
	float: left;
	height: 30px;
	background: url(sprite.png) repeat-x 0 -90px;
	width: 30px;
	margin: 0;
	text-indent: -9000px;	
}

#home-top-numbers li a:hover {
	background: url(sprite.png) repeat-x -77px -90px;
}

.home-rotator-slide {
  display: none;
  width:617px;
  margin: 0px;
}

.home-services-buttons {
	background: url(rotator-template.png) no-repeat;
	width:325px;
	height:398px;
	float: left;
}

#home-services-links li {
    margin: 0; padding: 0; list-style: none; position: absolute;
	}
	
#home-services-links a {
    
	display: block;
	
	}
	
#panel1 {left: 0px; top: 0px; width: 325px; height: 79px;}
#panel2 {left: 0px; top: 79px; width: 325px; height: 79px;}
#panel3 {left: 0px; top: 159px; width: 325px; height: 79px;}
#panel4 {left: 0px; top: 238px; width: 325px; height: 79px;}
#panel5 {left: 0px; top: 317px; width: 325px; height: 81px;}

#panel1 a {height: 79px;}
#panel2 a {height: 79px;}
#panel3 a {height: 79px;}
#panel4 a {height: 79px;}
#panel5 a {height: 81px;}

.home-services-children {
	background: url(home-services-children.png) no-repeat;
	width:325px;
	height:79px;
	float: left;	
}
.home-services-computer {
	background: url(home-services-computer.png) no-repeat;
	width:325px;
	height:78px;
	float: left;	
}
.home-services-ebooks {
	background: url(home-services-ebooks.png) no-repeat;
	width:325px;
	height:79px;
	float: left;	
}
.home-services-search {
	background: url(home-services-search.png) no-repeat;
	width:325px;
	height:79px;
	float: left;	
}
.home-services-brainfuse {
	background: url(home-services-brainfuse.png) no-repeat;
	width:325px;
	height:395px;
	float: left;	
}